[Unit]
Description=Security Camera service
[Service]
User=pi
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/home/pi
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/home/pi/save_outside_camera/outside_camera.py
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
